.login {
    display: flex;
    flex-direction: column;
    max-width: 40vh;
    max-height: 30vh;
    border: 1bx solid black;
    border-radius: 4vh;
    align-items: 4vh;
    padding: 4vh;
}